<%= form_with model: @student, local: true do |form| %>

<% if @student.errors.any? %>
    <div id="error_explanation">
      <h2 style="color:red;">
        <%= pluralize(@student.errors.count, "error") %> prohibited
        this student from being saved:
      </h2>
      <ul style="color:red;">
        <% @student.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :Stud_ID %><br>
    <%= form.text_field :stud_id %>
  </p>
 
  <p>
    <%= form.label :Name %><br>
    <%= form.text_field :name %>
  </p>
<p>
    <%= form.label :Email %><br>
    <%= form.text_field :email %>
  </p>
<p>
    <%= form.label :Address %><br>
    <%= form.text_area :address %>
  </p>
<p>
    <%= form.label :Course %><br>
    <%= form.text_field :course %>
  </p> 

  <p>
    <%= form.submit %>
  </p>
<% end %>

